.inicio {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 6rem 8%;
    gap: 3rem;
    justify-content: space-between;
}

.slogan-text {
  flex: 1;/* controla largura do texto */
}

.slogan-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-left: 130px;
  color: #1a2a3a; /*Cor do Slogan */
  line-height: 120%;
  margin-bottom: 1rem;
  max-width: 500px;
  letter-spacing: -1px;
}

.slogan-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.p1 {
    color: #1A237E;
}

.b1 button {
  background: #cfa84c; /* dourado elegante */
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}

.b1 button:hover {
  background: #b38f3a;
}

.img1 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img1 img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 20px 1000px rgba(0,0,0,0.1);
  background: #DCDCDC;
  padding: 0.5rem; 
}
